header {
    background-color: #00abeb;
    color: whitesmoke;
    padding: 15px;
}

h3 {
    color: red;
}

html {
    background-color: whitesmoke;
}

button {
    padding: 30px;
    background-color: #0bb634;
    border-radius: 8%;
}

img {
    width: 8%;
}