h1 {
    background-color: #2996cc;
    color: whitesmoke;
    padding: 2rem;
}

html {
    background-color: whitesmoke;
}

button {
    padding: 30px;
    background-color: #0bb634;
    border-radius: 8%;
}
